html,
body,
#root {
  height: 100%;
}

.main {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  height: 100%;
}

.content {
  flex-basis: 45%;
  height: 100%;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 45%;
}

.swap {
  display: flex;
  gap: 10px;
}
